matplotlib==3.9.1
nltk==3.8.1
pandas==2.2.2
pytrends==4.9.2
seaborn==0.13.2
spacy==3.7.5
streamlit==1.29.0
wordcloud==1.9.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
